services:
  waha:
    image: devlikeapro/waha:latest
    container_name: wpp_bot_waha
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      TZ: America/Sao_Paulo
      WHATSAPP_START_SESSION: default
      WAHA_WEBHOOK_URL: http://api:5000/chatbot/webhook/
      WHATSAPP_SWAGGER_ENABLED: "true"
    volumes:
      - waha_data:/app/sessions

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: wpp_bot_api
    restart: unless-stopped
    depends_on:
      - waha
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      TZ: America/Sao_Paulo
      FLASK_APP: app.py
      FLASK_DEBUG: "True"

      # Integração WAHA
      WAHA_API_URL: http://waha:3000
      WAHA_SESSION: default

      # Barbearia - Arquivos
      CLIENTES_XLSX: /app/data/clientes.xlsx
      AGENDAMENTOS_XLSX: /app/data/agendamentos.xlsx
      SERVICOS_JSON: /app/config/servicos.json
      PIN_SALT: barbearia_veinho_corts_2025

      # Admin Barbearia
      ADMIN_JID: 5511917281651@c.us

      # Python settings
      PYTHONUNBUFFERED: "1"
      PYTHONDONTWRITEBYTECODE: "1"
    volumes:
      - .:/app
      - agdata:/app/data
      - ./config:/app/config
    command: ["flask", "run", "--host=0.0.0.0", "--port=5000"]

volumes:
  waha_data:
  agdata:
